html, body {
    background-color: black;
    color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}
.header h1 {
    flex-grow: 1;
}
.header>* {
    display: inline-block;
    margin: 0;
}
.header {
    display: flex;
    padding: 5px;
}
.main-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.messages {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    border: 1px solid green;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
}
.message {
    font-size: 0.8em;
    margin-block-end: 0;
    margin-block-start: 0;
}
.form {
    margin: 5px;
}
.form input {
    height: 30px;
}
.form input[type=text] {
    box-sizing: border-box;
}
.form input[type=button] {
    float: right;
    margin-left: 5px;
    border: 0;
    background-color: #5e79cb;
    color: white;
    transition: background-color 500ms;
}
.form input[type=button]:hover {
    background-color: #679af5;
}
#inputContainer {
    display: flex;
}
#commandInput {
    flex-grow: 1;
}
#playerStatus {
    margin-top: 5px;
    padding-left: 1em;
}
#playerStatus>span {
    display: inline-block;
    min-width: 10%;
}
.health {
    color: red;
}
.location {
    color: green;
}
#connectionStatusContainer {
    align-items: center;
    display: flex;
}
#connectionStatus {
    color: white;
    display: inline-block;
}
.connected {
    color: green;
}
.disconnected {
    color: red;
}